@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to TourismExplorer</h1>
    <p class="lead">Explore the world with our exclusive travel packages.</p>
    <a href="/TourPackages" class="btn btn-success btn-lg mt-3">Browse Tours</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <img src="~/Content/images/tour1.jpg" class="card-img-top" alt="Tour 1">
            <div class="card-body">
                <h5 class="card-title">Adventure Trips</h5>
                <p class="card-text">Explore mountains, forests, and more.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <img src="~/Content/images/tour2.jpg" class="card-img-top" alt="Tour 2">
            <div class="card-body">
                <h5 class="card-title">Beach Holidays</h5>
                <p class="card-text">Relax on the most beautiful beaches.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <img src="~/Content/images/tour3.jpg" class="card-img-top" alt="Tour 3">
            <div class="card-body">
                <h5 class="card-title">Cultural Tours</h5>
                <p class="card-text">Experience history and tradition.</p>
            </div>
        </div>
    </div>
</div>
